<!-- <div class="router-animation__content">
    <p>AboutUs</p>
</div> -->

<div class="container-fluid">
  <div class="container">
    <h2 class="lead">About Us</h2>
    <p>
      Our mission is to generate maximum returns for property owners and investors, saving them time and money while still providing our tenants
      with a great renting experience. We operate with a high degree of transparency, always making sure that our goals and profitability are properly
      aligned with that of our clients. That means no hidden fees or marking up maintenance. Our compensation is always tied to our results and your
      happiness . . . guaranteed.
    </p>
    <p>
      Our priority is to provide comprehensive, reliable, trustworthy and cost-effective services to residential property owners and real estate investors.
    </p>
  </div>
  <div class="container-fluid">
     <app-block-content [blockContent]="blockContent"></app-block-content>
     <app-full-service></app-full-service>
     <app-form-banner></app-form-banner>
  </div>
</div>
