<section class="row section-container pt-0">
    <div class="col-md-6">
        <h3 class="sub-title-intro">Owners:</h3>
        <ul class="checks-orange mt-4">
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Access to your Property Profile, Photos &amp; Marketing Data</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Real-time Leads Generated for your Property</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Property Showing Appointments</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Property Showing Feedback</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Real-time Application notifications</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Maintenance, Work Orders, and Invoices</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Rent Payments and History</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Owner Payments and History</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Owner and Tenant Documents</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Property Inspections</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Profit &amp; Loss, including Detailed Income and Expenses</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Flexible Financial Reporting</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Flexible Performance Reporting</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Tax Information and 1099</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Image with no description</p>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <img class="w-100 margin-center" src="/assets/images/owners/management/dashboard.png" alt="owner dashboard">
    </div>
</section>

<section class="row section-container pt-0">
    <div class="col-md-6">
        <h3 class="sub-title-intro">Tenants:</h3>
        <ul class="checks-orange mt-4">
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Online Rent Payment Options</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Tenant Ledgers and Payment History</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Submit Online Maintenance Requests</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Track Maintenance Requests</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Document Access</p>
            </li>
            <li>
                <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                <p>Image with no description</p>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <img class="w-100 margin-center" src="/assets/images/owners/management/tenant-portal.png" alt="Tenant Portal">
    </div>
</section>