.launch-menu-sidebar {
  background: #28446e;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  min-width: 300px;
  z-index: 9999;
  overflow-y: auto;

  .sidebar-top {
    @include flex-space-center;
    margin-bottom: 10px;

    // img {
    //   filter: brightness(0) invert(1);
    //   -webkit-filter: brightness(0) invert(1);
    //   width: 1.5rem;
    // }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 2.5rem);
      grid-template-rows: repeat(2, 2.5rem);
      align-items: center;
      justify-content: center;
      padding-left: 1.5rem;

      li {
        font-size: 1.5rem;

        a {

          i {
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
          }

          &:hover {
            border-color: transparent;
            color: #f09718;

            i {
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
        }
      }
    }

    .sidebar-close {
      cursor: pointer;
      padding: 1.5rem;

      svg {
        width: 2rem;
        height: 2rem;
        opacity: 0.7;
      }
    }
  }

  .sidebar-quick {
    background: #222;
    padding: 0.5rem 1.5rem;

    ul {
      padding-left: 0;

      li {
        padding: 0.5rem 0;

        a {
          font-size: 0.8rem;
          line-height: 11px;
          font-family: 'gorditabold';
          letter-spacing: 1.5px;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            color: #f09718;
          }
        }
      }
    }
  }

  .sidebar-menu {
    margin-top: 0.6rem;
    font-family: 'gorditalight';

    .card {
      background-color: transparent;
    }

    &__toolbar {
      @include flex-space-center;
      text-transform: uppercase;

      a:hover {
        color: #f09718;
        cursor: pointer;
      }

      .plus-icon:hover {
        cursor: pointer;

        &::after,
        &::before {
          background-color: #f09718;
        }
      }
    }

    .card-body {
      padding: 0 1.25rem;

      ul {
        list-style: none;
        padding-left: 1.25rem;

        li {
          padding: 1rem 0;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            a {
              color: #f09718;
            }
          }

          a {
            text-transform: capitalize;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
  }

}

.col-xs-6 {
  width: 50%;

  img {
    margin: 5px;
  }
}

.sidebar-active {
  .plus-icon {
    &:after {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      background-color: #f09718;
    }
  }
}

.plus-icon {
  display: block;
  position: absolute;
  right: 25px;
  top: 14px;
  font-size: 18px;
  transition: all 0.3s;
  width: 20px;
  height: 20px;
  z-index: 99;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    left: 4px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }

  &:after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
}

.launch-menu-mask {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  background: #333;
  opacity: .75;
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333333%;
  }
}

.launch-sticky-header {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;

  .socials-contacts-wrapper {
    @include flex-space-center;
    @include top-bar;
    background-color: #dae1e9;
    height: 36px;
    padding: 0 8%;

    .social {
      line-height: 43px;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
          padding: 0;
          margin: 0 8px 0 0;
          display: inline-block;

          a {
            width: auto;
            margin: 0 5px;

            img {
              width: 50%;
            }
          }
        }

        li:first-child>a {
          margin-left: 0;
        }
      }
    }

    .contact {
      line-height: 43px;
      @include flex-box;
    }
  }

  .nav-wrapper {
    @include top-bar;
    @include flex-space-center;
    min-height: 3.5rem;

    .logo img {
      &:hover {
        cursor: pointer;
      }

      max-height: 40px
    }
  }

  .links {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;

    a {
      font-family: 'gorditamedium';
      color: $dark-blue-900;

      &:hover {
        color: #f09718;
        text-decoration: none;
      }
    }

    >ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      >li {
        padding: 0 10px;
        margin: 0;
        display: inline-block;
      }
    }
  }

  .phone {
    a {
      font-size: 18px;
      color: #ff9e1a;
      white-space: nowrap;
      padding-left: 10px;
      font-family: 'gorditabold';

      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }

  .frs-phone-number {
    font-size: 18px;
    color: #ff9e1a;
    white-space: nowrap;
    padding-left: 10px;
    font-family: 'gorditabold';
  }

  .nav {
    right: 15px;
    top: 0px;
    bottom: 0;

    .launch-menu-button {
      color: #000;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: #f79712;
      }
    }

    .launch-menu-only {
      display: none;
    }

    .plus-icon {
      display: none;
    }
  }

  .mobile-hide {
    display: block;

    a {
      color: $dark-blue-900;
    }
  }

  .mobile-show {
    display: none;
  }
}

.launch-sticky-header.affix {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}


@media (max-width: 991px) {
  .launch-sticky-header {
    .socials-contacts-wrapper {
      background-color: #2f4b6f;
    }

    .logo {
      img {
        max-height: 20px;
      }
    }

    .contact {
      margin: 0 auto;
      text-align: center;
      justify-content: center;
    }

    .phone {
      display: block;
      margin: 0 auto;

      &::before {
        content: 'Give us a call:';
        color: #fff;
        font-size: 16px;
        line-height: 25px;
      }
    }

    .social {
      display: none;
    }

    .links {
      display: none;
    }

    .nav {
      top: 7px;
    }

    .mobile-show {
      display: block !important;
    }

    .mobile-hide {
      display: none !important;
    }
  }

  .launch-sticky-header.affix {
    .mobile-show {
      display: block !important;
    }

    .mobile-hide {
      display: none !important;
    }

    .nav {
      left: auto;
      right: 15px;
      top: 7px;
      border: 0;
    }
  }
}

@media (max-width: 425px) {
  .launch-sticky-header.affix .logo img {
    max-width: 180px;
  }
}

.top-navbar {
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;

  >ul {
    padding: 0;
    margin: 0;

    >li {
      position: relative;
      list-style: none;
      display: inline-block;
      padding: 25px 35px;
      transition: 0.3s;

      >a {
        display: inline-block;
        color: inherit;
        transition: 0s;

        &:link {
          display: inline-block;
          color: inherit;
          transition: 0s;
        }

        &:visited {
          display: inline-block;
          color: inherit;
          transition: 0s;
        }
      }

      >ul {
        display: none;
        position: absolute;
        white-space: nowrap;
        z-index: 575;
        text-align: left;
        padding: 0;
        background-color: #94dcec;
        top: 100%;
        left: 0px;
        min-width: 100%;
      }
    }
  }
}

.top-navbar>ul>li:hover,
.top-navbar>ul>li.active {
  cursor: pointer;

  a {
    color: #ffffff;
  }

  ul {
    display: block !important;
  }

  background: #94dcec;
  transition: 0.3s;
}

.top-navbar>ul>li:hover>ul {
  display: block;
}

.top-navbar>ul>li.dropdown:hover>ul {
  display: none;
}

.top-navbar>ul>li>ul>li,
.top-navbar>ul>li>ul>li a {
  height: 35px;
  line-height: 35px;
  display: block;
  padding: 0 25px;
}

.top-navbar>ul>li>ul>li>a {
  color: #fff;
  padding: 0;
}

.top-navbar>ul>li>ul>li:hover {
  background-color: #99d5e4;
}

.top-navbar>ul>li>ul>li:hover a {
  color: #1959b9;
}

@media (max-width: 1330px) {
  .top-navbar>ul>li {
    padding: 20px 15px;
  }

  .launch-sticky-header .nav-wrapper .logo img {
    max-height: 30px;
  }

  .nav-wrapper,
  .socials-contacts-wrapper {
    padding: 0 2% !important;
  }
}

@media (max-width: 991px) {
  .top-navbar>ul>li {
    padding: 15px 15px;
  }
}

.col-xs-6 {
  width: 50%;
}

.col-xs-6 img {
  margin: 5px;
}

.top-navbar a:hover {
  color: #f09718;
  text-decoration: none;
}