<section class="area-serve">
    <div class="section-container">
        <h2 class="area-serve-title">Areas We Serve</h2>
        <div class="area-list-container row">
            <!-- San Bernardino -->
            <ul class="area-list col-md-3 col-xs-6">
                <li><strong><a href="/san-bernardino-property-management">San Bernardino</a></strong></li>
                <li><a href="/bloomington-property-management">Bloomington</a></li>
                <li><a href="/chino-property-management">Chino</a></li>
                <li><a href="/chino-hills-property-management">Chino Hills</a></li>
                <li><a href="/colton-property-management">Colton</a></li>
                <li><a href="/fontana-property-management">Fontana</a></li>
                <li><a href="/montclair-property-management">Montclair</a></li>
                <li><a href="/ontario-property-management">Ontario</a></li>
                <li><a href="/rancho-cucamonga-property-management">Rancho Cucamonga</a></li>
                <li><a href="/rialto-property-management">Rialto</a></li>
                <li><a href="/san-antonio-heights-property-management">San Antonio Heights</a></li>
                <li><a href="/upland-property-management">Upland</a></li>
            </ul>

            <!-- Riverside -->
            <ul class="area-list col-md-3 col-xs-6">
                <li><strong><a href="/riverside-property-management">Riverside</a></strong></li>
                <li><a href="/corona-property-management">Corona</a></li>
                <li><a href="/eastvale-property-management">Eastvale</a></li>
                <li><a href="/jurupa-valley-property-management">Jurupa Valley</a></li>
                <li><a href="/mira-loma-property-management">Mira Loma</a></li>
                <li><a href="/norco-property-management">Norco</a></li>
                <li><a href="/woodcrest-property-management">Woodcrest</a></li>
            </ul>

            <!-- Orange County -->
            <ul class="area-list col-md-3 col-xs-6">
                <li><strong><a href="/orange-county-property-management">Orange County</a></strong></li>
                <li><a href="/anaheim-property-management">Anaheim</a></li>
                <li><a href="/brea-property-management">Brea</a></li>
                <li><a href="/buena-park-property-management">Buena Park</a></li>
                <li><a href="/corona-del-mar-property-management">Corona Del Mar</a></li>
                <li><a href="/costa-mesa-property-management">Costa Mesa</a></li>
                <li><a href="/cypress-property-management">Cypress</a></li>
                <li><a href="/fountain-valley-property-management">Fountain Valley</a></li>
                <li><a href="/fullerton-property-management">Fullerton</a></li>
                <li><a href="/garden-grove-property-management">Garden Grove</a></li>
                <li><a href="/huntington-beach-property-management">Huntington Beach</a></li>
                <li><a href="/irvine-property-management">Irvine</a></li>
                <li><a href="/la-habra-property-management">La Habra</a></li>
                <li><a href="/la-palma-property-management">La Palma</a></li>
                <li><a href="/los-alamitos-property-management">Los Alamitos</a></li><a
                    href="/los-alamitos-property-management">
                </a>
                <li><a href="/los-alamitos-property-management"></a><a href="/newport-beach-property-management">Newport
                        Beach</a></li>
                <li><a href="/north-tustin-property-management">North Tustin</a></li>
                <li><a href="/orange-property-management">Orange</a></li>
                <li><a href="/placentia-property-management">Placentia</a></li>
                <li><a href="/santa-ana-property-management">Santa Ana</a></li>
                <li><a href="/stanton-property-management">Stanton</a></li>
                <li><a href="/tustin-property-management">Tustin</a></li>
                <li><a href="/villa-park-property-management">Villa Park</a></li>
                <li><a href="/westminister-property-management">Westminister</a></li>
                <li><a href="/yorba-lindar-property-management">Yorba Linda</a></li>
            </ul>

            <!-- Los Angeles -->
            <ul class="area-list col-md-3 col-xs-6">
                <li><strong><a href="/los-angeles-property-management">Los Angeles</a></strong></li>
                <li><a href="/azusa-property-management">Azusa</a></li>
                <li><a href="/baldwin-park-property-management">Baldwin Park</a></li>
                <li><a href="/cerritos-property-management">Cerritos</a></li>
                <li><a href="/claremont-property-management">Claremont</a></li>
                <li><a href="/covina-property-management">Covina</a></li>
                <li><a href="/diamond-bar-property-management">Diamond Bar</a></li>
                <li><a href="/glendora-property-management">Glendora</a></li>
                <li><a href="/hacienda-heights-property-management">Hacienda Heights</a></li><a
                    href="/hacienda-heights-property-management">
                </a>
                <li><a href="/hacienda-heights-property-management"></a><a
                        href="/industry-property-management">Industry</a>
                </li>
                <li><a href="/la-mirad-property-management">La Mirada</a></li>
                <li><a href="/la-puente-property-management">La Puente</a></li>
                <li><a href="/la-verne-property-management">La Verne</a></li>
                <li><a href="/norwalk-property-management">Norwalk</a></li><a href="/norwalk-property-management">
                </a>
                <li><a href="/norwalk-property-management"></a><a href="/pomona-property-management">Pomona</a></li>
                <li><a href="/rowland-heights-property-management">Rowland Heights</a></li>
                <li><a href="/san-dimas-property-management">San Dimas</a></li>
                <li><a href="/walnut-property-management">Walnut</a></li>
                <li><a href="/west-covina-property-management">West Covina</a></li>
                <li><a href="/whittier-property-management">Whittier</a></li>
            </ul>
        </div>
    </div>
</section>