<app-banner [banner]="banner"></app-banner>

<nav class="group-tabs">
  <div class="tab-btn tab-btn__left" [class.tabDisabled]="!tabsWrap.canScrollStart"
      (click)="tabsWrap.scroll('right')">
      <i class="arrow left"></i>
  </div>
  <ul class="tabs-header" tabsScrollable #tabsWrap="tabsScrollable">
    <li *ngFor="let tab of tabs">
      <a routerLink="{{ tab.link }}" routerLinkActive="tab-active" [routerLinkActiveOptions]="{exact:true}">
        {{ tab.text }}
      </a>
    </li>
  </ul>
  <div class="tab-btn tab-btn__right" [class.tabDisabled]="!tabsWrap.canScrollEnd" (click)="tabsWrap.scroll('left')">
      <i class="arrow right"></i>
  </div>
  <div class="tabs-content">
      <main class="router-animation">
          <router-outlet #o="outlet"></router-outlet>
      </main>
  </div>
</nav>

