<div class="dedicated-management-wrapper">
    <app-contact-form-template>
        <ng-container contentDescription>
            <h2 class="title-intro">Compliance &amp; Inspections</h2>
            <p class="lead">
                Whether it’s code enforcement, HOA requirements, or legal compliance, we’re on it. Our goal
                is to protect your investment and make you the most money.
            </p>
            <h3 class="sub-title-intro">FULL-TIME LEGAL TEAM</h3>
            <p>
                Struggling to understand the nuances of landlord-tenant laws in California? Our attorneys
                and seasoned staff have helped countless property owners navigate the laws while remaining
                profitable.
            </p>
            <h5>Timely Rent Collection</h5>
            <p>
                Every month we work to collect your rent in full and on time. Our collection processes are
                professional but tough, and we are extremely diligent in collecting rent through a
                systematic, timely process.
            </p>
            <h5>Lease, HOA, and Policy Enforcement</h5>
            <p>
                Our Property Managers are responsible for making sure any lease restrictions, policies,
                and HOA guidelines are followed by the tenants. This includes providing renters with a
                copy of any HOA rules and regulations. In the event a violation occurs, tenants are
                quickly advised and given the proper notice to comply. Our staff are trained to facilitate
                every tenant situation with the utmost care and attention. All efforts are also made to
                prevent violations and any potential HOA fines.
            </p>
            <h5>Strict and Compliant Evictions</h5>
            <p>
                Even with careful placement there is occasionally a tenant who needs to be evicted. Our
                staff is extremely knowledgeable in state and local landlord/tenant laws. If the tenant
                does not pay rent on time or violates the terms of the lease, we initiate the proper
                notices and legal steps necessary to minimize your costs and get the property leased
                again.
            </p>
            <h3 class="sub-title-intro">SCHEDULED INSPECTIONS</h3>
            <p>
                Professional inspections of your property both inside and out are necessary to assess
                property conditions and ensure tenants are complying with the terms of their lease. Below
                are the 5 types of inspections performed:
            </p>
            <ul class="list-style-disc">
                <li><strong>Pre-Leasing Inspection</strong> - We perform this inspection prior to
                    marketing your home to determine any necessary work to be completed.</li>
                <li><strong>Move-In Inspection</strong> - Move-in Inspections are performed to thoroughly
                    document the condition of the home when the tenant takes possession.</li>
                <li><strong>Move-Out Inspection</strong> - Move-in Inspections are performed to thoroughly
                    document the condition of the home when the tenant turns over possession. The inspection
                    is then compared with the Move-In Inspection to determine any claims that may be
                    necessary against the tenant’s security deposit along with any other action which may be
                    necessary.</li>
                <li><strong>Periodic Inspection</strong> - A periodic inspection is often performed to
                    determine. They may also be performed when there is a suspected lease or HOA violation.</li>
            </ul>
        </ng-container>
    </app-contact-form-template>
    <div class="property-management">
        <app-block-content [blockContent]="blockContent" [headerBlock]="headerContent"></app-block-content>

        <div class="text-center">
            <a routerLink="/" class="btn btn-clock yellow">request a free property evaluation</a>
        </div>
    </div>
    <app-free-rental-analysis></app-free-rental-analysis>
    <app-confidence-guarantees></app-confidence-guarantees>
    <app-inclusive-leasing></app-inclusive-leasing>
    <app-free-quote></app-free-quote>
    <app-area-info></app-area-info>
    <app-area-serve></app-area-serve>
    <app-advertisement-rental-analysis></app-advertisement-rental-analysis>
</div>