.free-quote-wrapper {
    .title-intro {
        margin-bottom: max(0.6rem, 1.5%);
    }

    p {
        margin-bottom: max(1.2rem, 3%);
        font-family: 'gorditamedium';
        color: #062f6e;
    }
}