<!-- <div class="router-animation__content">
    <p>Contac Us</p>
</div> -->

<div class="container-fluid">
  <div class="container">
      <div class="text-center">
          <h2 class="lead">Contact Us</h2>
          <p>Questions, comments, concerns? Feel free to reach out to us.</p>
      </div>
  </div>
  <div class="contact-us container-fluid text-center">
      <div class="row padding-bottom-xl">
          <div class="col-md-3 col-sm-6 item">
              <div class="icon"><img src="/assets/images/contact-us/icon_contact_main.png" alt="MAIN OFFICE LINE" /></div>
              <h3>MAIN OFFICE LINE</h3>
              (909&shy;) 548&shy;-0044
          </div>
          <div class="col-md-3 col-sm-6 item">
              <div class="icon"><img src="/assets/images/contact-us/icon_contact_emergency.png" alt="MAINTENANCE / EMERGENCY" /></div>
              <h3>MAINTENANCE / EMERGENCY</h3>
              (909&shy;) 548&shy;-0044
          </div>
          <div class="col-md-3 col-sm-6 item">
              <div class="icon"><img src="/assets/images/contact-us/icon_contact_corporate.png" alt="CORPORATE OFFICE" /></div>
              <h3>CORPORATE OFFICE</h3>
              14728 Pipeline Ave Ste G<br />
              Chino Hills, CA 91709
          </div>
          <div class="col-md-3 col-sm-6 item">
              <div class="icon"><img src="/assets/images/contact-us/icon_contact_corporate.png" alt="BRANCH OFFICE" /></div>
              <h3>BRANCH OFFICE</h3>
              2372 Morse Ave Ste 400<br />
              Irvine, CA 92614
          </div>
      </div>
      <!-- <a href="https://scpm.appfolio.com/connect/users/sign_in" target="_blank" class="btn">Request Maintenance</a> -->
      <a href="https://scpm.appfolio.com/connect/users/sign_in" class="btn btn-clock yellow">Request Maintenance</a>
  </div>
</div>

