<div class="business-wrapper animated fadeIn">
    <div class="container row">
        <div class="col-md-8">
          <div class="video-container">
            <div class="video-wrapper lazy-video" (click)='AutoPlay()'>
              <div *ngIf="videoThumbnail" class="video-thumbnail" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}"></div>
              <iframe width="1280" height="720" class="lazyload" [src]="url"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center group-btn-business">
            <a routerLink="/" class="btn yellow">CHECK OUT OUR PRICING</a>
            <a routerLink="/" class="btn purple">FIND OUT WHAT YOUR HOME COULD RENT FOR</a>
        </div>
    </div>
</div>
