<div class="business-wrapper">
    <div class="container row">
        <div class="col-md-8">
            <!-- <iframe width="1280" height="720" class=" lazyloaded" data-src="https://www.youtube.com/embed/Semi7ws9SfI"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe> -->
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center group-btn-business">
            <app-beauty-buttons [buttonConfigs]="propertyButton"></app-beauty-buttons>
            <app-beauty-buttons [buttonConfigs]="propertyButton"></app-beauty-buttons>
        </div>
    </div>
</div>