.business-wrapper {
  padding: 3% 7.5% 4%;
  background-color: #f7f7f7;

  .container {
    margin: 0 auto;

    .btn {
      font-family: 'gorditamedium';
    }
  }

  ::ng-deep {
    .btn:first-child {
      margin-bottom: 30px;
    }
  }
}

.video-wrapper {
  padding-bottom: 56.25% !important;
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;

  iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: 0;
  }
}

.lazyload {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 991.98px) {
  .business-wrapper {
    padding: 3% 5% 4%;
  }
}

@media (max-width: 767.98px) {
  .business-wrapper {
    padding: 3%;

    .col-md-4 {
      width: 80%;
      margin: 0 auto;

      .btn:first-child {
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .business-wrapper {
    padding: 3% 0;

    .col-md-4 {
      width: auto;
    }
  }
}