<footer class="footer">
    <div class="container-fluid bottom_border footer__section-1">
        <div class="row">
            <div class="col-md-3 logo-submit">
                <img src="/assets/images/home/footer-logo.png" alt="Logo" class="logo">
                <a routerLink="/" class="btn btn-outline border-white">LEAVE A REVIEW</a>
            </div>


            <div class="col-md-3">
                <h5 class="headin5_amrc col_white_amrc">OWNERS</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="http://webenlance.com">Owners Login</a></li>
                    <li><a href="http://webenlance.com">Leasing & Management</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class="col-md-3">
                <h5 class="headin5_amrc col_white_amrc">TENANTS</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="http://webenlance.com">Tent Login</a></li>
                    <li><a href="http://webenlance.com">Browse Rentals</a></li>
                    <li><a href="http://webenlance.com">Expert help</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class="col-md-3">
                <h5 class="headin5_amrc col_white_amrc">COMPANY</h5>
                <!--headin5_amrc ends here-->

                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="http://webenlance.com">Blog</a></li>
                    <li><a href="http://webenlance.com">Contact Us</a></li>
                    <li><a href="http://webenlance.com">Privacy Policy</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
        </div>
    </div>

    <div class="container-fluid bottom_border footer__section-2">
        <div class="row first-element">
            <div class="col-md-6">
                <h5>SAN BERNARDINO, RIVERSIDE, AND LOS ANGELES COUNTIES</h5>
                <div class="address">
                    <span class="address_title">Chino Hills Headquarters: </span>
                    <span class="adr">
                        <span class="street-address">14728 Pipeline Ave Ste G </span>
                        <span class="locality">Chino Hills</span>. <span class="region">CA </span> <span
                            class="postal-code">91709</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <h5>ORANGE COUNTY</h5>
                <ul class="address">
                    <li class="no-pipe"><span class="address_title">Irvine Office:</span> 2372 Morse Ave Ste 400 Irvine.
                        Ca 92614</li>
                </ul>
            </div>
        </div>

        <ul class="social_ul">
            <span>Follow Us</span>
            <li><a href="https://www.youtube.com/channel/UCvIOzhE-Y1Dma83Ne3saFBw" target="_blank">
                    <img src="/assets/images/icons/social_icon_youtube.png" alt=""></a>
            </li>
            <li><a href="https://www.facebook.com/clockworkpm" target="_blank">
                    <img src="/assets/images/icons/social_icon_facebook.png" alt=""></a>
            </li>
            <li><a href="https://www.google.com/maps/place/Clockwork+Property+Management/@33.9854033,-117.7184617,17z/data=!3m1!4b1!4m5!3m4!1s0x80c332ba43644403:0x5ad0548edefae31!8m2!3d33.9854033!4d-117.716273"
                    target="_blank">
                    <img src="/assets/images/icons/social_icon_gplus.png" alt=""></a>
            </li>
            <li><a href="https://www.yelp.com/biz/clockwork-property-management-chino-hills-2" target="_blank">
                    <img src="/assets/images/icons/social_icon_yelp.png" alt=""></a>
            </li>
        </ul>

        <ul class="copy with-pipes">
            <li>
                Copyright 2021 Clockwork Property Management. All Rights Reserved.
                Property Manager Website powered by <a href="http://www.propertymanagerwebsites.com">PMW</a>
            </li>
            <li><a href="/sitemap">Sitemap</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
    </div>

    <div class="container-fluid bottom_border-blur footer__section-3">
        Clockwork Property Management is committed to ensuring that its website is accessible to people
        with disabilities. All the pages on our website will meet W3C WAI's Web Content Accessibility Guidelines 2.0.
        Level A conformance. Any issues should be reported to <a href="mailto:brent@clockworkpm.com"
            class="email">brent@clockworkpm.com</a>. <a href="/wc3-policy">Website Accessibility Policy</a>
    </div>
    <div class="margin-botton"></div>
</footer>