<footer class="footer">
    <div class="container-fluid bottom_border footer__section-1">
        <div class="row">
            <div class="col-md-3 logo-submit">
                <img src="/assets/images/home/footer-logo.png" alt="Logo" class="logo">
                <a routerLink="/" class="btn btn-outline border-white">LEAVE A REVIEW</a>
            </div>


            <div class="col-md-3">
                <h5 class="headin5_amrc col_white_amrc">OWNERS</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="http://webenlance.com">Owners Login</a></li>
                    <li><a href="http://webenlance.com">Leasing & Management</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class="col-md-3">
                <h5 class="headin5_amrc col_white_amrc">TENANTS</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="http://webenlance.com">Tent Login</a></li>
                    <li><a href="http://webenlance.com">Browse Rentals</a></li>
                    <li><a href="http://webenlance.com">Expert help</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class="col-md-3">
                <h5 class="headin5_amrc col_white_amrc">COMPANY</h5>
                <!--headin5_amrc ends here-->

                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="http://webenlance.com">Blog</a></li>
                    <li><a href="http://webenlance.com">Contact Us</a></li>
                    <li><a href="http://webenlance.com">Privacy Policy</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
        </div>
    </div>

    <div class="container-fluid bottom_border footer__section-2">
        <div class="row first-element">
            <div class="col-md-6">
                <h5>SAN BERNARDINO, RIVERSIDE, AND LOS ANGELES COUNTIES</h5>
                <div class="address">
                    <span class="address_title">Chino Hills Headquarters: </span>
                    <span class="adr">
                        <span class="street-address">14728 Pipeline Ave Ste G </span>
                        <span class="locality">Chino Hills</span>. <span class="region">CA </span> <span
                            class="postal-code">91709</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <h5>ORANGE COUNTY</h5>
                <ul class="address">
                    <li class="no-pipe"><span class="address_title">Irvine Office:</span> 2372 Morse Ave Ste 400 Irvine.
                        Ca 92614</li>
                </ul>
            </div>
        </div>

        <div class="w-full">

        </div>
        <ul class="social_footer_ul">
            <span>Follow Us</span>
            <li><a href="https://www.youtube.com/channel/UCvIOzhE-Y1Dma83Ne3saFBw" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24"  width="24" height="24" >
                      
                        <path
                            d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z" />
                    </svg><span class="sr-only">Youtube</span></a></li>
            <li><a href="https://www.facebook.com/clockworkpm" target="_blank">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="#000" stroke-width="2" fill="#000"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                    </svg>
                    <span class="sr-only">Facebook</span>
                </a></li>
            <li><a href="https://www.google.com/maps/place/Clockwork+Property+Management/@33.9854033,-117.7184617,17z/data=!3m1!4b1!4m5!3m4!1s0x80c332ba43644403:0x5ad0548edefae31!8m2!3d33.9854033!4d-117.716273"
                    target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" width="24" height="24">

                        <path
                            d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z" />
                    </svg>
                    <span class="sr-only">Google</span></a></li>
            <li><a href="https://www.yelp.com/biz/clockwork-property-management-chino-hills-2" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" viewBox="0 0 24 24"
                        width="24" height="24">

                        <path
                            d="M20.16 12.594l-4.995 1.433c-.96.276-1.74-.8-1.176-1.63l2.905-4.308a1.072 1.072 0 0 1 1.596-.206 9.194 9.194 0 0 1 2.364 3.252 1.073 1.073 0 0 1-.686 1.459zm-5.025 3.152l4.942 1.606a1.072 1.072 0 0 1 .636 1.48 9.316 9.316 0 0 1-2.47 3.169 1.073 1.073 0 0 1-1.592-.26l-2.76-4.409c-.528-.847.288-1.894 1.236-1.584zm-4.796-4.368L5.454 2.916a1.072 1.072 0 0 1 .466-1.5A14.973 14.973 0 0 1 11.184.003a1.07 1.07 0 0 1 1.153 1.068v9.768c0 1.096-1.45 1.483-1.998.535zm-.857 4.17L4.44 16.806a1.073 1.073 0 0 1-1.324-.92 9.218 9.218 0 0 1 .43-3.997 1.07 1.07 0 0 1 1.485-.62l4.668 2.279c.9.438.763 1.76-.207 2zm.886 1.477c.669-.744 1.901-.246 1.866.752l-.19 5.188a1.073 1.073 0 0 1-1.247 1.02 9.314 9.314 0 0 1-3.722-1.502 1.072 1.072 0 0 1-.187-1.6l3.477-3.864z" />
                    </svg>
                    <span class="sr-only">Yelp</span></a></li>
        </ul>

        <ul class="copy with-pipes">
            <li>
                Copyright 2021 Clockwork Property Management. All Rights Reserved.
                Property Manager Website powered by <a href="http://www.propertymanagerwebsites.com">PMW</a>
            </li>
            <li><a href="/sitemap">Sitemap</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
    </div>

    <div class="container-fluid bottom_border-blur footer__section-3">
        Clockwork Property Management is committed to ensuring that its website is accessible to people
        with disabilities. All the pages on our website will meet W3C WAI's Web Content Accessibility Guidelines 2.0.
        Level A conformance. Any issues should be reported to <a href="mailto:brent@clockworkpm.com"
            class="email">brent@clockworkpm.com</a>. <a href="/wc3-policy">Website Accessibility Policy</a>
    </div>
    <div class="margin-botton"></div>
</footer>