<div class="protection-wrapper">
    <div class="intro">
        <div class="title-intro">
            Protection You Can Count On
        </div>
    </div>
    <div class="block-content">
        <ngb-carousel #carousel [showNavigationIndicators]="false" [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let item of images; index as i">
              <div class="protection-carousel">
                <div class="protection-carousel-img">
                    <img [src]="item.img">
                </div>

                <div class="protection-carousel-content">
                    <p class="content-title">
                        {{ item.title }}
                    </p>
                    {{ item.content }}
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
    </div>

    <div class="btn-process">
      <app-beauty-buttons [buttonConfigs]="propertyButton"></app-beauty-buttons>
    </div>
</div>
