.protection-wrapper {
    padding: 3% 7.5%;
    text-align: center;
    // font-family: 'gorditamedium';

    .intro {
        margin-bottom: 40px;
    }

    .btn-process {
        margin-top: 40px;
    }
}