<div class="social-contacts">
    <div class="social-contacts__wrapper">
        <div class="social-contacts__social">
            <ul>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
            </ul>
        </div>
        <div class="social-contacts__contact">
            <div class="social-contacts__contact-links">
                <ul>
                    <li>OWNER LOGIN</li>
                    <li>Tenant Login</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="social-contacts__contact-phone">
                <a href="tel:1-909-548-0044" class="tel">(909) 548-0044</a>
            </div>
        </div>
    </div>
</div>