<app-banner [banner]="activeBanner" [buttonBannerTemplate]="activeBanner.innerSingle ? singleButtonBanner : buttonBanner">
</app-banner>

<nav class="group-tabs">
    <div class="tab-btn tab-btn__left" [class.tabDisabled]="!tabsWrap.canScrollStart"
        (click)="tabsWrap.scroll('right')">
        <i class="arrow left"></i>
    </div>
    <ul class="tabs-header" tabsScrollable #tabsWrap="tabsScrollable">
        <li *ngFor="let tab of tabs">
            <a routerLink="{{ tab.link }}" routerLinkActive="tab-active">
                {{ tab.text }}
            </a>
        </li>
        <li>
            <a [scrollToDiv]="'guarantess'">
                Guarantees
            </a>
        </li>
    </ul>
    <div class="tab-btn tab-btn__right" [class.tabDisabled]="!tabsWrap.canScrollEnd" (click)="tabsWrap.scroll('left')">
        <i class="arrow right"></i>
    </div>
    <div class="tabs-content">
        <main class="router-animation" [@fadeInOut]="getState(o)">
            <router-outlet #o="outlet"></router-outlet>
        </main>
    </div>
</nav>

<app-scroll-to-top></app-scroll-to-top>

<ng-template #buttonBanner>
    <div class="btn-list">
        <a [scrollToDiv]="'free-rental-analysis'" class="btn btn-clock yellow">FIND OUT WHAT YOUR HOME WOULD RENT FOR</a>
        <a [routerLink]="['/pricing']"  target="_blank" class="btn btn-clock purple">check out our pricing</a>
    </div>
</ng-template>

<ng-template #singleButtonBanner>
    <div class="btn-list">
        <a [scrollToDiv]="'free-rental-analysis'" class="btn btn-clock yellow">FIND OUT WHAT YOUR HOME WOULD RENT FOR</a>
    </div>
</ng-template>
