<section id="area-info" class="area-info">
    <div class="section-container">
        <h2 class="title-intro text-center">Why invest in Chino Hills</h2>
        <img class="w-100" src="/assets/images/owners/management/chino-hills-property-management.jpg" alt="Chino Hills Property Management">
        <p class="text-center">
            Chino Hills is a great city for rental property investments. Chino Hills has a population of over $83k and
            12 neighborhoods. Chino Hills is the 106th largest community in California. The city has great public
            schools, and a large population of college-educated adults. Chino Hills also has an overall crime rate lower
            than the average for the country. Per capita income in Chino Hills is $149k for a family of four. Here are
            some statistics to consider when investing in Chino Hills.
        </p>
        <ul>
            <li>Median home value $729,989.00</li>
            <li>Number of homes and apartments 24,374</li>
            <li>Annual appreciation rates average 4.63%</li>
            <li>Average market rent $2,680</li>
            <li>Homeownership rates: Owners 75.3%, and renters 24.7%</li>
            <li>Age of homes: 2000 or newer 15.3%, 1970-1999 78.9%</li>
            <li>Single family homes represent 77.9%, townhomes 4.4%, and apartment complexes 12.7%</li>
            <li>Home Sizes: 2 bedrooms 15%, 3 bedrooms 34.3% and 4 bedrooms 35.7%</li>
    
        </ul>
        <p class="text-center mb-0">
            We are the real estate experts in Chino Hills. If you have questions or are interested in investing in the
            Bloomington real estate market please give us a call.
        </p>
    </div>
</section>