.area-info {
    background-color: #f9f9f9;

    img {
        padding-bottom: 2%;
    }

    ul {
        max-width: 1140px;
        width: 80%;
        margin: 0 auto;
        list-style-type: disc;
        padding-bottom: 2%;
    }

    .section-container {
        padding-bottom: 0;
    }
}