<section id="full-service" class="banner">
  <div class="container-fluid">
    <h2>Full Service Property Solutions</h2>
    <p class="lead">
      For owners and investors in the San Bernardino, Riverside, Orange and los Angeles Counties
    </p>
    <div class="row">
      <div class="col-md-6 item">
        <img src="/assets/images/icons/icon_aboutus_quality_tenantplacement.png" alt="QUALITY TENANT PLACEMENT" class="icon animated-slow zoomIn">
        <h3>QUALITY TENANT PLACEMENT</h3>
        <p>
          Fill your vacancies fast &amp; only pay for results. Our Extreme Marketing, 24/7 On-Demand
          Leasing &amp; exclusive All-Inclusive Leasing System provides landlords with quality renters for
          their property.
        </p>
      </div>
      <div class="col-md-6 item">
        <img src="/assets/images/icons/icon_marketing_24_7_leasing.png" alt="24/7 PROPERTY MANAGEMENT" class="icon animated-slow zoomIn">
        <h3>24/7 PROPERTY MANAGEMENT</h3>
        <p>
          Comprehensive services to handle leasing,24/7 maintenance, management, inspections,
          accounting, reporting &amp; compliance to ensure that you &amp; your property are always taken care
          of.
        </p>
      </div>
    </div>
  </div>
</section>
