<section class="free-rental-wrapper" id="free-rental-analysis">
    <div class="row">
        <div class="col-md-6 rental-image">
            <img src="/assets/images/owners/management/analysis-reports.png" class="analysis-image hide-on-init"
                animateOnScroll animationName="auto-animated animated-haft fadeInUp" alt="Rental Analysis Reports" />
        </div>
        <div class="col-md-6 rental-content">
            <h2 class="title-intro text-white text-uppercase hide-on-init" animateOnScroll
                animationName="auto-animated animated-haft fadeInUp">
                Free Rental Analysis
            </h2>
            <h5 class="text-white mb-4 animated-delay-haft hide-on-init" animateOnScroll
                animationName="auto-animated animated-haft fadeInUp">
                Find out how much your home will rent for
            </h5>
            <div class="animated-delay-1 hide-on-init" animateOnScroll
                animationName="auto-animated animated-haft fadeInUp">
                <form>
                    <div class="frs-widget flex-align-center step-1">
                        <label for="frs-widget_addressTypeAhead" class="d-none frs-quick-lead-address-label">
                            Enter Rental Property Address
                        </label>
                        <input type="text" name="address" class="frs-quick-lead-address pac-target-input"
                            placeholder="enter your investment’s property address to get started"
                            id="frs-widget_addressTypeAhead" autocomplete="off" />
                        <button type="submit" class="frs-btn">Submit</button>
                    </div>
                </form>
            </div>
            <a class="sample-report animated-delay-2 hide-on-init" animateOnScroll
                animationName="auto-animated animated-haft fadeInUp"
                href="https://www.clockworkpropertymanagement.com/files/sample-report.pdf" target="_blank">
                Download a sample report
            </a>
        </div>
    </div>
</section>