.property-wrapper {
    max-width: 1334px;
    margin: 0 auto;
    text-align: center;
    font-family: 'gorditalight';
    padding: 0% 5%;

    .intro {
        margin-bottom: 70px;
    }

    .btn-process {
        margin: 5% 0px;
    }

    .block-content {
        justify-content: center;
        color: #5a5a5a;
        font-family: "gorditaRegular";
        font-size: 1rem;
        .box-title {
            font-size: 1.2rem;
        }
        
    }
}

