.property-wrapper {
    max-width: 1334px;
    margin: 0 auto;
    text-align: center;
    font-family: 'gorditalight';

    .intro {
        margin-bottom: 70px;
    }

    .btn-process {
        margin: 5% 0px;
    }

    .block-content {
        justify-content: center;


        a {
          color: #5a5a5a;
          font-family: "gorditaRegular";
          font-size: 1.2rem;

          &:hover {
            text-decoration: none;
          }
        }
    }

    .left {
      float: left;
    }

    .center {
      margin: 0 auto !important;
    }

    .right {
      float: right;
    }

}
