<div class="property-wrapper">
    <div class="intro hide-on-init animated-delay-haft" animateOnScroll animationName="auto-animated animated fadeInUp">
        <div class="title-intro">
            Our Property Management System
        </div>
        <div class="lower-text content-md-intro">
          Professional services that handle leasing, management, accounting, 24/7 maintenance, inspections, reporting &amp;
          compliance help provide you peace of mind knowing that your property is always taken care of.
        </div>
    </div>
    <div class="block-content row">
        <div class="col-md-4">
          <a href="/dedicated-management" class="box-item hide-on-init animated-delay-haft left" animateOnScroll animationName="auto-animated animated fadeInUp">
            <div class="box-title">
                <img src="/assets/images/icons/icon_home_experience_management.png"
                    alt="Experience in management">
                EXPERIENCED MANAGEMENT
            </div>
            <div class="content-box">
              You are assigned a full-time property manager that is an expert in your geographical area who serves as a single
              point of contact for you, your tenants, and vendors during the management process.
              Transparency and communication is their top priority
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/maintenance" class="box-item hide-on-init animated-delay-haft center" animateOnScroll animationName="auto-animated animated fadeInUp">
            <div class="box-title">
                <img src="/assets/images/icons/icon_home_reliable_maintenance.png"
                    alt="Experience in management">
                RELIABLE MAINTENANCE
            </div>
            <div class="content-box">
              Unlike many other property
              management companies, we focus
              exclusively on residential rentals.
              We are the local property
              management experts, and we are
              dedicated to helping you rent and
              manage your home.
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/maintenance" class="box-item hide-on-init animated-delay-haft right" animateOnScroll animationName="auto-animated animated fadeInUp">
            <div class="box-title">
                <img src="/assets/images/icons/icon_home_24_7_access.png"
                    alt="Experience in management">
                24/7 ACCESS AND SUPPORT
            </div>
            <div class="content-box">
              Our team works together to take
              the hassle off your plate and keep
              your portfolio running smoothly.
              Our comprehensive software gives
              you real-time 24/7 access to
              everything you need to know
              about your property.
            </div>
          </a>
        </div>
    </div>

    <div class="btn-process">
        <app-beauty-buttons [buttonConfigs]="propertyButton"></app-beauty-buttons>
    </div>
</div>
