.launch-image-banner {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;

    margin-top: 107px;

    .container-fluid .main-section .main-title {
        font-size: 75px;
        text-align: center;
        display: block;
        color: #193252;
        margin-bottom: 50px;
        line-height: 56px;
        font-family: 'gorditabold';
    }

    .container-fluid .main-section .sub-title {
        font-size: 35px;
        text-transform: uppercase;
        color: #193252;
        text-align: center;
        margin-bottom: 50px;
        font-family: 'gorditamedium';
    }
}

.launch-image-banner {
    position: relative;
    height: 760px;
    overflow: hidden;
    padding-top: 12%;
}

@media (max-width: 991px) {
  .launch-image-banner {
    margin-top: 65px;
  }
}
