
<section class="launch-image-banner" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <div class="container-fluid">
        <div class="main-section">
            <div class="main-title animated fadeIn">Clockwork Property Management</div>
            <div class="sub-title animated fadeIn">PROPERTY MANAGEMENT FOR LOS ANGELES, ORANGE COUNTY,<br>RIVERSIDE,
                AND SAN BERNARDINO COUNTIES</div>
                <!-- <ng-content></ng-content> -->
        </div>
    </div>
</section>
