<!-- <div class="router-animation__content">
    <p>Our team</p>
</div> -->
<div class="container-fluid">
  <div class="container">
      <div class="text-center">
          <h2 class="lead">Our Team</h2>
          <p>We are a dedicated team of real estate and rental property experts with in-depth knowledge of the local market.</p>
          <h3>ADMINISTRATIVE &amp; SUPPORT TEAM</h3>
      </div>
  </div>
  <div class="container-fluid">
      <ul class="team">
          <li>
              <img src="../../../../../assets/images/our-team/Derek-Churchwell.jpg" alt="" />
              <div class="details">
                  <h4>Derek Churchwell</h4>
                  Property Manager
              </div>
          </li>
          <li>
              <img src="../../../../../assets/images/our-team/Mark-Harold.jpg" alt="" />
              <div class="details">
                  <h4>Mark Harold</h4>
                  Property Manager
              </div>
          </li>
      </ul>
      <ul class="team">
          <li>
              <img src="../../../../../assets/images/our-team/ray.jpg" alt="" />
              <div class="details">
                  <h4>Ray Oceguera</h4>
                  Assistant Property Manager
              </div>
          </li>

          <li>
              <img src="../../../../../assets/images/our-team/Omar.jpeg?v2" alt="" />
              <div class="details">
                  <h4>Omar Barrientos</h4>
                  Assistant Property Manager
              </div>
          </li>
      </ul>
      <ul class="team">
          <li>
              <img src="../../../../../assets/images/our-team/Leah-Duckworth.jpg" alt="" />
              <div class="details">
                  <h4>Leah Duckworth</h4>
                  Leasing Agent
              </div>
          </li>
          <li>
              <img src="../../../../../assets/images/our-team/Jean-Phillippe-Beaulieu.jpg" alt="" />
              <div class="details">
                  <h4>"JP" Beaulieu</h4>
                  Move-in Agent / Inspector
              </div>
          </li>
          <li>
              <img src="../../../../../assets/images/our-team/Purvi-Holmes.jpg" alt="" />
              <div class="details">
                  <h4>Purvi Holmes</h4>
                  Application Screening
              </div>
          </li>
          <li>
              <img src="../../../../../assets/images/our-team/Nicole-Serrano.jpg" alt="" />
              <div class="details">
                  <h4>Nicole Serrano</h4>
                  Business Development
              </div>
          </li>
      </ul>
      <ul class="team">
          <li>
              <img src="../../../../../assets/images/our-team/Karina.jpg" alt="" />
              <div class="details">
                  <h4>Karina Sosa</h4>
                  Onboarding/Leasing Assistant
              </div>
          </li>

          <li>
              <img src="../../../../../assets/images/our-team/user.jpg" alt="" />
              <div class="details">
                  <h4>Donna Denver</h4>
                  Administrative Assistant
              </div>
          </li>
      </ul>
      <ul class="team">
          <li>
              <img src="../../../../../assets/images/our-team/Brent-Holmes.jpg" alt="" />
              <div class="details">
                  <h4>Brent Holmes</h4>
                  CEO / Broker
              </div>
          </li>

          <li>
              <img src="../../../../../assets/images/our-team/Marco-Montes.jpg" alt="" />
              <div class="details">
                  <h4>Marco Montes, CPA, CFP®</h4>
                  CFO / Investments
              </div>
          </li>
      </ul>
  </div>
</div>

