<header class="launch-sticky-header affix-top">
    <header class="launch-sticky-header affix-top">
        <div class="socials-contacts-wrapper">
            <div class="social">
                <ul>
                    <li>
                        <a href="https://www.youtube.com/channel/UCvIOzhE-Y1Dma83Ne3saFBw" target="_blank">
                            <img src="/assets/images/icons/social_icon_youtube.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/clockworkpm" target="_blank">
                            <img src="/assets/images/icons/social_icon_facebook.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/place/Clockwork+Property+Management/@33.9854033,-117.7184617,17z/data=!3m1!4b1!4m5!3m4!1s0x80c332ba43644403:0x5ad0548edefae31!8m2!3d33.9854033!4d-117.716273"
                            target="_blank">
                            <img src="/assets/images/icons/social_icon_gplus.png" alt="" /></a>
                    </li>
                    <li>
                        <a href="https://www.yelp.com/biz/clockwork-property-management-chino-hills-2" target="_blank">
                            <img src="/assets/images/icons/social_icon_yelp.png" alt="" /></a>
                    </li>
                </ul>
            </div>

            <div class="contact">
                <div class="links">
                    <ul>
                        <li>
                            <a href="https://scpm.appfolio.com/oportal/users/log_in" target="_blank">Owner Login</a>
                        </li>
                        <li>
                            <a href="https://scpm.appfolio.com/connect/users/sign_in" target="_blank">Tenant Login</a>
                        </li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="phone">
                    <span class="frs-phone-number number"><a href="tel:1-909-548-0044" class="tel">(909)
                            548-0044</a></span>
                </div>
            </div>
        </div>

        <div class="nav-wrapper d-flex">
            <div class="logo">
                <a routerLink="/">
                    <img src="/assets/images/home/ClockworkPM_Logo.png" alt="" style="margin-top: 0.5%" />
                </a>
            </div>

            <div class="nav">
                <div class="mobile-hide">
                    <div class="top-navbar">
                        <ul>
                            <li class="dropdown">
                                <a routerLink="/owners">Owners</a>
                                <ul style="display: none">
                                    <li class="dropdown">
                                        <a routerLink="/chino-hills-property-management">Management</a>
                                    </li>
                                    <li class="dropdown"><a routerLink="/leasing">Leasing</a></li>
                                    <li class="dropdown">
                                        <a routerLink="/guarantees">Our Guarantees</a>
                                    </li>
                                    <li class="dropdown">
                                        <a routerLink="/properties-we-manage" target="_blank">Properties We Manage</a>
                                    </li>
                                    <li class="dropdown"><a routerLink="/owner-faq">Owner FAQs</a></li>
                                    <li class="dropdown">
                                        <a routerLink="/landlord-protection">Landlord Protection Insurance</a>
                                    </li>
                                    <li class="dropdown">
                                        <a routerLink="/international-clients">International Clients</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a routerLink="/pricing">Pricing</a></li>
                            <!-- <li><a routerLink="/#home-pricing" class="smooth-scroll">Pricing</a></li> -->
                            <li class="dropdown">
                                <a routerLink="/tenants">Tenants</a>
                                <ul style="display: none">
                                    <li class="dropdown">
                                        <a routerLink="/tenants">Tenant Resources</a>
                                    </li>
                                    <li class="dropdown">
                                        <a routerLink="https://scpm.appfolio.com/connect/users/sign_in"
                                            target="_blank">Request
                                            Maintenance</a>
                                    </li>
                                    <li class="dropdown">
                                        <a routerLink="https://scpm.appfolio.com/connect/users/sign_in"
                                            target="_blank">Tenant
                                            Login</a>
                                    </li>
                                    <li class="dropdown">
                                        <a routerLink="https://learn.homebridge.com/clockwork/" target="_blank">Home
                                            Buyer
                                            Program</a>
                                    </li>
                                    <li class="dropdown">
                                        <a routerLink="https://www.greatschools.org/" target="_blank">School
                                            Information</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a [routerLink]="['/about']">About Us </a>
                                <ul style="display: none">
                                    <li class="dropdown"><a routerLink="/our-team">Our Team</a></li>
                                    <li class="dropdown"><a routerLink="/careers">Join Our Team</a></li>
                                    <li class="dropdown"><a routerLink="/testimonials">Reviews</a></li>
                                    <li class="dropdown"><a routerLink="/contact">Contact Us</a></li>
                                    <li class="dropdown"><a routerLink="/blog">Blog</a></li>
                                </ul>
                            </li>
                            <li class="launch-menu-hidden dropdown">
                                <a routerLink="/chino-hills-homes-for-rent">Browse Our Listings</a>
                                <!-- <ul>
          <li><a href="/chino-hills-homes-for-rent">Original Design</a></li>
          <li><a href="/san-bernardino-homes-for-rent">Postcard Design</a></li>
          <li><a href="/riverside-homes-for-rent">Simple Design</a></li>
      </ul> -->
                            </li>
                            <li class="dropdown">
                                <a routerLink="/agents">Agents</a>
                                <!-- <ul>
          <li><a href="/chino-hills-homes-for-rent">Original Design</a></li>
          <li><a href="/san-bernardino-homes-for-rent">Postcard Design</a></li>
          <li><a href="/riverside-homes-for-rent">Simple Design</a></li>
      </ul> -->
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="launch-menu-button mobile-show" (click)="toggleMenu()">
                    <i class="fa fa-bars" aria-hidden="true"></i> MENU
                </a>
            </div>
        </div>
    </header>

    <div class="launch-menu-sidebar" [@slideInOut]="menuState">
        <div class="sidebar-top">
            <ul>
                <li><a href="https://www.youtube.com/channel/UCvIOzhE-Y1Dma83Ne3saFBw" target="_blank"><i
                            class="fa fa-youtube-play" aria-hidden="true"></i><span class="sr-only">Youtube</span></a>
                </li>
                <li><a href="https://www.facebook.com/clockworkpm" target="_blank"><i class="fa fa-facebook"
                            aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
                <li><a href="https://www.google.com/maps/place/Clockwork+Property+Management/@33.9854033,-117.7184617,17z/data=!3m1!4b1!4m5!3m4!1s0x80c332ba43644403:0x5ad0548edefae31!8m2!3d33.9854033!4d-117.716273"
                        target="_blank"><i class="fa fa-google" aria-hidden="true"></i><span
                            class="sr-only">Google</span></a></li>
                <li><a href="https://www.yelp.com/biz/clockwork-property-management-chino-hills-2" target="_blank"><i
                            class="fa fa-yelp" aria-hidden="true"></i><span class="sr-only">Yelp</span></a></li>
            </ul>

            <div class="sidebar-close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    (click)="toggleMenu()">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>

        <div class="sidebar-quick">
            <ul>
                <li><a href="/chino-hills-homes-for-rent">Browse Our Listings</a></li>
                <li><a href="https://scpm.appfolio.com/oportal/users/log_in" target="_blank">Owner Login</a></li>
                <li><a href="https://scpm.appfolio.com/connect/users/sign_in" target="_blank">Tenant Login</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="sidebar-menu">
            <ngb-accordion [closeOthers]="true" (panelChange)="changeActiveSideMenu($event)" #sideBarMenu="ngbAccordion"
                [activeIds]="activeSideId">
                <ngb-panel *ngFor="let item of sideBarMenuData; let index = index" id="sidemenu-{{ index }}">
                    <ng-template ngbPanelHeader>
                        <div class="sidebar-menu__toolbar"
                            [ngClass]="{'sidebar-active': activeSideId === ('sidemenu-' + index)}">
                            <a href="#">{{ item.title }}</a>
                            <span *ngIf="item.submenu" class="plus-icon" ngbPanelToggle></span>
                        </div>
                    </ng-template>
                    <ng-template *ngIf="item.submenu" ngbPanelContent>
                        <ul>
                            <li *ngFor="let sub of item.submenu">
                                <a href="{{ sub.link }}"> {{sub.title}} </a>
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>

    <div *ngIf="menuState === 'in'" class="launch-menu-mask" (click)="closeMenu()"></div>