.box-item {
    position: relative;
    border: 2px solid #d7d7d7;
    height: 100%;
    display: block;
    padding: 40px 20px;
    max-width: 400px;
    margin: 0 auto;

    .box-title {
        @include flex-box;
        @include align-center;
        position: absolute;
        top: -30px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: 75%;
        background-color: #ffffff;
        padding-left: 10px;
        color: #4fc7eb;
        font-family: 'gorditamedium';
    }
}

@include media-breakpoint-down(md) {
    .box-item {
        .box-title {
            font-size: 0.8rem !important;
            top: -20px;

            img {
                width: 30%;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .property-wrapper .intro {
        margin-bottom: 3rem !important;
    }

    .block-content {
        .col-md-4:not(.col-md-4:last-child) {
            margin-bottom: 2.5rem;
        }
    }

    .box-item {
        .box-title {
            font-size: 1rem !important;
            top: -30px;
        }

        .content-box {
            font-size: 0.9rem;
        }
    }
}