/* header/copyright link */
.link {
    text-decoration: none;
    color: #55acee;
    border-bottom: 2px dotted #55acee;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    cursor: pointer;
}

.link:hover {
    color: #2ecc71;
    border-bottom: 2px dotted #2ecc71;
}

/* button div */
.buttons {
    padding-top: 50px;
    text-align: center;
}

/* start da css for da buttons */
.btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

    &-outline {
        background-color: transparent;
    }

    .border-white {
        border: 1px solid #ffffff;
    }
}




.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
}

.blue {
    background-color: #55acee;
}

.blue:hover {
    background-color: #6FC6FF;
}

.green {
    background-color: #2ecc71;
}

.green:hover {
    background-color: #48E68B;
}

.red {
    background-color: #e74c3c;
}

.red:hover {
    background-color: #FF6656;
}

.purple {
    background-color: #0fb2e4;
}

.orange {
    background-color: #e67e22;
}

.orange:hover {
    background-color: #FF983C;
}

.yellow {
  background-color: #ff9e1a;
}

.text-white {
  font-size: 18px;
  font-family: "gorditamedium";
  display: inherit !important;

  &:hover {
    background-color: #fff;
    color: #ff9e1a !important;
    border-color: #ff9e1a;
  }
}
