/* start da css for da buttons */
.btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: $white;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

    &-outline {
        background-color: transparent;
    }

    .border-white {
        border: 1px solid $white;
    }
}

.btn-clock {
    font-size: 12px;
    font-family: 'gorditamedium';
    letter-spacing: 1px;
    padding: 15px 20px;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
}

.purple {
    background-color: $light-blue-500;
    transition: all .3s;

    &:hover {
        background-color: transparent;
        color: $light-blue-500;
        border: 1px solid $light-blue-500;
    }
}

.yellow {
  background-color: $orange-600;
  transition: all .3s;

  &:hover {
      background-color: transparent;
      color: $orange-600;
      border: 1px solid $orange-600;
  }
}

.dark-blue {
  background-color: $dark-blue-900;
  transition: all .3s;

  &:hover {
      background-color: transparent;
      color: $dark-blue-900;
      border: 1px solid $dark-blue-900;
  }
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: center;

  .btn {
    margin: 2% 1%;
  }
}

@include media-breakpoint-down(sm) {
    .btn-clock {
        padding: 10px 20px;
    }
}
