@font-face {
    font-family: 'gorditalight';
    src: url('/assets/fonts/gordita/Gordita\ Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gorditabold';
    src: url('/assets/fonts/gordita/Gordita\ Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gorditamedium';
    src: url('/assets/fonts/gordita/Gordita\ Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gorditaRegular';
    src: url('/assets/fonts/gordita/Gordita\ Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gorditaUltra';
    src: url('/assets/fonts/gordita/Gordita\ Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
