.group-tabs {
    width: 100%;
    position: relative;
    display: block;

    .tabs-header {
        @include flex-justify-center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        background-color: #f7f7f7;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        li {
            text-transform: uppercase;
            display: flex;

            a {
                font-family: 'gorditabold';
                font-size: 12px;
                color: $dark-blue-900;
                padding: 1.5rem;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                @include flex-align-center;

                &:hover {
                    transition: 0.3s;
                    background-color: $white;
                    color: #0fb2e4;
                    margin: 0 auto;
                }

                &.tab-active {
                    background-color: $white;
                    color: #0fb2e4;
                }
            }
        }
    }

    .tab-btn {
        display: none;

        &__left,
        &__right {
            margin-bottom: 3px;
            .arrow {
                border-color: gray;
                cursor: pointer;
            }
        }

        &__left {
            margin-left: 6px;
        }

        &__right {
            margin-right: 6px;
        }

        .tabDisabled {
            .arrow {
                border-color: #bbbaba;
            }
        }
    }

    .tabs-content {
        background-color: white;
    }
}

@media (max-width: 1250px) {
    .tab-btn {
        display: flex !important;
    }

    .group-tabs {
        background-color: #dae1e9;
        flex-wrap: wrap;
        @include flex-align-center;

        .tabs-header {
            max-width: calc(100% - 38px);
            margin: 0 auto;
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
            justify-content: unset;

            li {
                a {
                    padding: .5rem 1rem;
                }
            }
        }

        .tabs-content {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@media (min-width: 1400px) {
    .group-tabs {
        .tabs-header {
            li {
                a {
                    padding: 1.5rem 2.5rem;
                }
            }
        }
    }
}