.clock-tooltip {
    position: absolute;
    font-size: 1rem;
    width: 320px;
    text-align: center;
    color: #f8f8f2;
    border-radius: 6px;
    padding: 10px 5px;
    background: #282a36;
    z-index: 1000;

    &:after {
        content: "";
        position: absolute;
        border-style: solid;
    }

    &-top:after {
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: $black-800 transparent transparent transparent;
    }

    &-bottom:after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: transparent transparent $black-800 transparent;
    }

    &-left:after {
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent transparent transparent $black-800;
    }

    &-right:after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent $black-800 transparent transparent;
    }
}

.clock-tooltip-show {
    opacity: 1;
}