@mixin flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin justify-space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@mixin align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flex-direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin top-bar {
    position: relative;
    width: 100%;
    padding: 0 7.5%;
    margin: 0 auto;
}

@mixin flex-space-center {
    @include flex-box;
    @include justify-between;
    @include align-center;
}

@mixin flex-center {
    @include flex-box;
    @include align-center;
    @include justify-center;
}

@mixin flex-space-around {
    @include flex-box;
    @include align-center;
    @include justify-space-around;
}