<div class="services-wrapper">
    <div class="intro">
        <div class="title-intro">What We Do</div>
        <div class="medium-text content-intro">
            AS YOUR CHINO HILLS PROPERTY MANAGER
        </div>
    </div>
    <div class="block-content">
        <div class="grid-container">
            <article id="3685" class="service-listing">
                <a class="service-title" href="#"> <span>TENANT</span> <span>PLACEMENT</span> </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169"
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/san-fransisco-768x432.jpg"
                            alt="san francisco" />
                    </a>
                </div>
            </article>

            <article id="3688" class="service-listing">
                <a class="service-title" href="#"> <span>MANAGEMENT</span> <span>SERVICES</span> </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169"
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/london-768x432.jpg" alt="MANAGEMENT SERVICES" />
                    </a>
                </div>
            </article>

            <article id="3691" class="service-listing">
                <a class="service-title" href="#"> PROPERTY  MAINTENANCE </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169"
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/new-york-768x432.jpg"
                            alt="PROPERTY  MAINTENANCE" />
                    </a>
                </div>
            </article>

            <article id="3694" class="service-listing">
                <a class="service-title" href="#"> COMPLIANCE & INSPECTIONS </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169"
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cape-town-768x432.jpg"
                            alt="COMPLIANCE  & INSPECTIONS" />
                    </a>
                </div>
            </article>

            <article id="3697" class="service-listing">
                <a class="service-title" href="#"> ACCOUNTING SERVICES </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169"
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/beijing-768x432.jpg"
                            alt="ACCOUNTING SERVICES" />
                    </a>
                </div>
            </article>

            <article id="3700" class="service-listing">
                <a class="service-title" href="#"> PROPERTY  TURNOVER </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169"
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/paris-768x432.jpg" alt="PROPERTY  TURNOVER" />
                    </a>
                </div>
            </article>
        </div>
    </div>

    <div class="btn-process">
        <app-beauty-buttons [buttonConfigs]="propertyButton"></app-beauty-buttons>
    </div>
</div>