<div class="services-wrapper">
    <div class="intro">
        <h3 class="title-intro">What We Do</h3>
        <div class="content-lg-intro">
            AS YOUR CHINO HILLS PROPERTY MANAGER
        </div>
    </div>
    <div class="block-content">
        <div class="grid-container">
            <article id="3685" class="service-listing">
                <a class="service-title" href="#"> <span>TENANT</span> <span>PLACEMENT</span> </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169" src="/assets/images/home/home_tenantplacement_block.png"
                            alt="san francisco" />
                    </a>
                </div>
            </article>

            <article id="3688" class="service-listing">
                <a class="service-title" href="#"> <span>MANAGEMENT</span> <span>SERVICES</span> </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169" src="/assets/images/home/home_managementservices_block.png"
                            alt="MANAGEMENT SERVICES" />
                    </a>
                </div>
            </article>

            <article id="3691" class="service-listing">
                <a class="service-title" href="#"> <span>PROPERTY</span> <span>MAINTENANCE</span> </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169" src="/assets/images/home/home_propertymaintenance_block.png"
                            alt="PROPERTY  MAINTENANCE" />
                    </a>
                </div>
            </article>

            <article id="3694" class="service-listing">
                <a class="service-title" href="#"> <span>COMPLIANCE</span> <span>& INSPECTIONS</span> </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169" src="/assets/images/home/home_complianceinspections_block.png"
                            alt="COMPLIANCE  & INSPECTIONS" />
                    </a>
                </div>
            </article>

            <article id="3697" class="service-listing">
                <a class="service-title" href="#"> <span>ACCOUNTING</span> <span>SERVICES</span> </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169" src="/assets/images/home/home_accountingservices_block.png"
                            alt="ACCOUNTING SERVICES" />
                    </a>
                </div>
            </article>

            <article id="3700" class="service-listing">
                <a class="service-title" href="#"> <span>PROPERTY</span> <span>TURNOVER</span> </a>

                <div class="service-image">
                    <a href="#">
                        <img width="300" height="169" src="/assets/images/home/home_propertyturnover_block.png"
                            alt="PROPERTY  TURNOVER" />
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>