.services-wrapper {
    padding: 3% 0;
    text-align: center;
    background-color: #f7f7f7;
    // font-family: 'gorditamedium';

    .intro {
        margin-bottom: 70px;
    }

    .btn-process {
        margin-top: 40px;
    }
}

img {
    width: 100%;
    /* need to overwrite inline dimensions */
    height: auto;
}

h2 {
    margin-bottom: .5em;
}

/* hover styles */
/* for touch screen devices */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.service-listing {
    position: relative;

    &:hover {
        .service-title {
            opacity: 1;
        }

        .service-image {
            img {
                filter: blur(2px);
            }
        }
    }
}

.service-image {
    line-height: 0;
    overflow: hidden;

    img {
        filter: blur(0px);
        transition: filter 0.3s ease-in;
        transform: scale(1.1);
    }
}

.service-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    // change here for affect default transition: opacity .5s;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    // ::ng-deep {

    // &:nth-child(odd) {
    //     background-color: #95d9ea;
    // }

    // &:nth-child(even) {
    //     background-color: #95d9ea;
    // }   
    // }

}

@media (hover: none) {
    .service-title {
        opacity: 1;
    }

    .service-image {
        img {
            filter: blur(2px);
        }
    }
}