<div class="dedicated-management-wrapper">
    <app-contact-form-template>
        <ng-container contentDescription>
            <h2 class="title-intro">Dedicated Property Manager</h2>
            <p>We designed the Property Manager business model with you, the
                property owner, in mind.</p>
            <h3 class="sub-title-intro">SINGLE POINT OF CONTACT</h3>
            <p>
                You have a dedicated Property Manager that will be your single point of contact. This means
                when you have questions you will be contacting the person that is the most knowledgeable
                regarding your particular property. The Property Manager’s primary duties include:
            </p>
            <ul class="checks-orange">
                <li>
                    <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                    <p>Collection of all funds due</p>
                </li>
                <li>
                    <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                    <p>Lease, rules, and HOA enforcement</p>
                </li>
                <li>
                    <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                    <p>Property inspections</p>
                </li>
                <li>
                    <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                    <p>Lease renewals</p>
                </li>
                <li>
                    <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                    <p>Owner, Tenant, and Vendor communication</p>
                </li>
                <li>
                    <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                    <p>Maintenance coordination</p>
                </li>
                <li>
                    <img src="/assets/images/icons/icon_orange_checkmark.png" alt="Checks box">
                    <p>Work order and vendor bill approvals</p>
                </li>
            </ul>
            <h3 class="sub-title-intro">ALIGNED INTERESTS</h3>
            <p>
                Your Property Manager is typically paid a percentage of the homes they manage, so having
                tenants that pay their rent on time is in their best interest as well as yours. Keeping
                quality tenants in your home is an advantage for both you and your Property Manager so they
                are very renewal focused.
            </p>
            <h3 class="sub-title-intro">RESIDENTIAL PROPERTY EXPERTS</h3>
            <p>
                Unlike other property management companies, we focus exclusively on single-family
                residential rentals. We are the local property management experts, and we are dedicated to
                helping you rent and manage your home. Our focus on providing high quality service gives our
                clients the peace of mind they need when entrusting the management of their home from afar.
            </p>
        </ng-container>
    </app-contact-form-template>
    <div class="property-management">
        <app-block-content [blockContent]="blockContent" [headerBlock]="headerContent"></app-block-content>

        <div class="text-center">
            <a routerLink="/" class="btn btn-clock yellow">request a free property evaluation</a>
        </div>
    </div>
    <app-free-rental-analysis></app-free-rental-analysis>
    <app-confidence-guarantees></app-confidence-guarantees>
    <app-inclusive-leasing></app-inclusive-leasing>
    <app-free-quote></app-free-quote>
    <app-area-info></app-area-info>
    <app-area-serve></app-area-serve>
    <app-advertisement-rental-analysis></app-advertisement-rental-analysis>
</div>