<div class="block-content row">
  <ng-container  *ngFor="let item of blockContent; index as i">
    <div class="col-md-4">
      <div class="box-item animated-delay-haft" animateOnScroll
        animationName="auto-animated animated zoomIn">
        <div class="box-title">
          <img [src]="item.image" [src]="item.image" [alt]="item.imageAlt">
          {{item.title}}
        </div>
        <div class="content-box" [innerHTML] = "item.content">
        </div>
      </div>
    </div>
  </ng-container>
</div>
