<section id="rent-easy" class="banner">
  <div class="container">
    <h2>Renting Has Never Been So Easy.</h2>
    <p>
      You never have to leave your couch! Search our open rentals, find one you like, and book a
      showing on your own time. W e’ll meet you there!
    </p>
    <ul class="numbers inline">
      <li><p class="numbers1">1</p>BROWSE<br>RENTALS</li>
      <li><p class="numbers2">2</p>BOOK A<br>SHOWING</li>
      <li><p class="numbers3">3</p>WE’LL SEE<br>YOU THERE</li>
    </ul>
    <a href="/chino-hills-homes-for-rent" class="btn btn-clock yellow">Browse Our Listings Now</a>
  </div>
</section>
