<div class="property-turnover-wrapper">
    <app-contact-form-template>
        <ng-container contentDescription>
            <h2 class="title-intro">Property Turnover</h2>
            <p class="lead">
                Our Property Turnover Procedures consist of 3 equally important components.
            </p>
            <h3 class="sub-title-intro">PRE-LEASING INSPECTION</h3>
            <p>
                We perform a comprehensive Pre-Leasing Inspection prior to marketing your home. This
                inspection is designed to be more thorough and create a trackable action plan to get any
                necessary work completed. This process helps ensure that a new tenant's move-in goes
                smoothly and with no surprises.
            </p>
            <ul class="list-style-disc mb-4">
                <li>Inspection reports can be viewed from online Owner Portal</li>
                <li>Owners can easily approve any work to be performed</li>
                <li>All work performed is tracked online</li>
                <li>Properties are made rent-ready quicker, reducing leasing time</li>
                <li>This systematic process increases tenant satisfaction</li>
            </ul>

            <h3 class="sub-title-intro">MOVE-IN INSPECTION</h3>
            <p>
                We don’t simply tick boxes on a list. Using our inspection software complete with multiple
                photos or video, our team performs an in-depth Move-In Inspection with the new tenant.
            </p>
            <ul class="list-style-disc mb-4">
                <li>Completed Inspection reports are emailed to the Owner</li>
                <li>Any work yet to be performed is communicated to the Owner</li>
                <li>All data is stored and accessible in our Property Management software</li>
            </ul>
            <h3 class="sub-title-intro">MOVE-OUT INSPECTION</h3>
            <p>
                Upon the tenant’s move out, our team performs an in-depth inspection using our inspection
                software complete with multiple photos or video. This is done to compare the condition of
                the property to its move-in condition. In the unlikely event that any damage is done to the
                property requiring a claim against the security deposit, the property damage is thoroughly
                document through photos and video.
            </p>
            <ul class="list-style-disc">
                <li>Completed Inspection reports are emailed to the Owner</li>
                <li>Owners can easily approve any work to be performed</li>
                <li>All work performed is tracked online</li>
                <li>All data is stored and accessible in our Property Management software</li>
            </ul>
        </ng-container>
    </app-contact-form-template>
    <div class="property-management">
        <app-block-content [blockContent]="blockContent" [headerBlock]="headerContent"></app-block-content>

        <div class="text-center">
            <a routerLink="/" class="btn btn-clock yellow">request a free property evaluation</a>
        </div>
    </div>
    <app-free-rental-analysis></app-free-rental-analysis>
    <app-confidence-guarantees></app-confidence-guarantees>
    <app-inclusive-leasing></app-inclusive-leasing>
    <app-free-quote></app-free-quote>
    <app-area-info></app-area-info>
    <app-area-serve></app-area-serve>
    <app-advertisement-rental-analysis></app-advertisement-rental-analysis>
</div>