/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
// body:not(.loaded) app-root {
//     display: none;
// }

// body.loaded app-root-scully {
//     display: inherit;
// }

@import "~bootstrap/scss/bootstrap";
@import "./assets/scss/variables.scss";
@import "./assets/scss/themes/themes.scss";

@import "./assets/scss/layout/header.scss";
@import "./assets/scss/layout/banner.scss";
@import "./assets/scss/layout/footer.scss";

* {
    ul {
        list-style: none;
        padding: 0;
        margin: 0
    }
}

.router-animation {
    position: relative;
    background-color: $white;
    min-height: 100vh;
}