<header id="header" class="launch-sticky-header affix-top" data-spy="affix" data-offset-bottom="-1" data-offset-top="1">
    <div class="container-fluid">
        <!-- <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Clockwork Property Management, Inc. Logo" /></a>
        </div> -->
        <div class="contact">
            <div class="links">
                <ul>
                    <li><a href="https://scpm.appfolio.com/oportal/users/log_in" target="_blank">Owner Login</a></li>
                    <li><a href="https://scpm.appfolio.com/connect/users/sign_in" target="_blank">Tenant Login</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="phone">
                <span class="frs-phone-number number"><a href="tel:1-909-548-0044" class="tel">(909) 548-0044</a></span>
            </div>
        </div>
        <div class="social">
            <ul>
<li><a href="https://www.youtube.com/channel/UCvIOzhE-Y1Dma83Ne3saFBw" target="_blank">
    
<img src="/assets/images/icons/social_icon_youtube.png" alt=""></a>
</li>
<!-- <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li> -->
<!-- <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">Linked In</span></a></li> -->
<li><a href="https://www.facebook.com/clockworkpm" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
<li><a href="https://www.google.com/maps/place/Clockwork+Property+Management/@33.9854033,-117.7184617,17z/data=!3m1!4b1!4m5!3m4!1s0x80c332ba43644403:0x5ad0548edefae31!8m2!3d33.9854033!4d-117.716273" target="_blank"><i class="fa fa-google" aria-hidden="true"></i><span class="sr-only">Google</span></a></li>
<li><a href="https://www.yelp.com/biz/clockwork-property-management-chino-hills-2" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i><span class="sr-only">Yelp</span></a></li>
</ul>
        </div>
        <div class="nav">
            <div class="mobile-hide">
                <div id="nav">
                    <ul>
<li class="launch-menu-only dropdown active"><a href="/">Home</a></li>
<li class="dropdown">
    <a href="/owners">Owners</a><span class="plus-icon"></span>
    <ul style="display: none;">
        <li class="dropdown"><a href="/chino-hills-property-management">Management</a></li>
        <li class="dropdown"><a href="/leasing">Leasing</a></li>

        <li class="dropdown"><a href="/guarantees">Our Guarantees</a></li>
        <li class="dropdown"><a href="/properties-we-manage" target="_blank">Properties We Manage</a></li>
        <li class="dropdown"><a href="/owner-faq">Owner FAQs</a></li>
<li class="dropdown"><a href="/landlord-protection">Landlord Protection Insurance</a></li>
<li class="dropdown"><a href="/international-clients">International Clients</a></li>

    </ul>
</li>
<li class="dropdown"><a href="/pricing">Pricing</a></li>
<!-- <li><a href="/#home-pricing" class="smooth-scroll">Pricing</a></li> -->
<li class="dropdown">
    <a href="/tenants">Tenants</a><span class="plus-icon"></span>
    <ul style="display: none;">
        <li class="dropdown"><a href="/tenants">Tenant Resources</a></li>
        <li class="dropdown"><a href="https://scpm.appfolio.com/connect/users/sign_in" target="_blank">Request Maintenance</a></li>
        <li class="dropdown"><a href="https://scpm.appfolio.com/connect/users/sign_in" target="_blank">Tenant Login</a></li>
        <li class="dropdown"><a href="https://learn.homebridge.com/clockwork/" target="_blank">Home Buyer Program</a></li>
        <li class="dropdown"><a href="https://www.greatschools.org/" target="_blank">School Information</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="/about">About Us </a><span class="plus-icon"></span>
    <ul style="display: none;">
        <li class="dropdown"><a href="/our-team">Our Team</a></li>
        <li class="dropdown"><a href="/careers">Join Our Team</a></li>
        <li class="dropdown"><a href="/testimonials">Reviews</a></li>
        <li class="dropdown"><a href="/contact">Contact Us</a></li>
        <li class="dropdown"><a href="/blog">Blog</a></li>
    </ul>
</li>
<li class="launch-menu-hidden dropdown">
    <a href="/chino-hills-homes-for-rent">Browse Our Listings</a>
    <!-- <ul>
        <li><a href="/chino-hills-homes-for-rent">Original Design</a></li>
        <li><a href="/san-bernardino-homes-for-rent">Postcard Design</a></li>
        <li><a href="/riverside-homes-for-rent">Simple Design</a></li>
    </ul> -->
</li>
<li class="dropdown">
    <a href="/agents">Agents</a>
    <!-- <ul>
        <li><a href="/chino-hills-homes-for-rent">Original Design</a></li>
        <li><a href="/san-bernardino-homes-for-rent">Postcard Design</a></li>
        <li><a href="/riverside-homes-for-rent">Simple Design</a></li>
    </ul> -->
</li>
</ul>
                </div>
            </div>
            <a href="javascript:void(0)" class="launch-menu-button mobile-show">
                <i class="fa fa-bars" aria-hidden="true"></i> MENU
            </a>
        </div>
    </div>
</header>