<section class="advertisement-rental-wrapper">
    <div class="row center-layer">
        <div class="col-md-6 adver-img hide-on-init" animateOnScroll animationName="auto-animated animated-haft fadeInLeft">
            <img [lazyImage]="'/assets/images/owners/management/analysis_banner.png'" alt="Free Rental Analysis" />
        </div>
        <div class="col-md-6 adver-content">
            <h2 class="title-intro text-white">Get a FREE Rental Analysis</h2>
            <p class="text-white">
                Want to list your home but aren't sure what your property is worth? Our
                experts can give you a quick, hassle free estimation with no commitment
                necessary. <br> Click and fill out a brief form.
            </p>
            <a [scrollToDiv]="'free-rental-analysis'" class="btn btn-clock yellow">
                Get Your Free Quote
            </a>
        </div>
    </div>
</section>